---
layout: default
title: About Almanack
---

<main id="main" class="site-main">
  <div class="post-full inner">
    <header class="post-header">
      <h2 class="post-title">About</h2>
    </header>
    <p>To learn more about the idea and philosophy behind this project, read <a rel="me" href="https://walkercraig.com/about-this-site.html">About This Site</a>.</p>
    <hr>
    <p><h5>In Brief...</h5></p>

    <p>>With obvious deference to Benjamin Franklin's original pamphlet, Almanack was formed as the American experiment approached its 250th birthday. It aims to contribute to and continue that legacy, enrich the cultural dialogue, and offer insights that are as reflective as they are forward-looking.</p>

    <p>In this effort, Almanack is a platform for storytelling that celebrates the tapestry of American life. Our goal is add to this rich narrative and we invite you to join us as we explore what it means to be American in both heritage and horizon. The stories of liberty need to be refreshed from time to time, after all, and we hope to leave as an indelible legacy on American letters as those that came before us.</p>

    <p>While focused on current events and the experience of today, we draw upon the stories that have shaped the nation from its inception. From the agrarian societies of its infancy and revolutionary spirit of its youth, through the forge of the Civil War and the taming of the Wild Wild West, beneath the smokestacks of the Industrial Revolution and the opulence of the Gilded Age, into the trenches of the World Wars and the surge of the Great Society, the atomic vigor of the mid-20th century that carried us into space and the technological advancements that have defined its most recent history, Almanack aims to capture our modern times and the ongoing saga of a nation continually reinventing itself yet always striving to uphold its founding ideals.</p>
    
    <p>Our site speaks to those who appreciate the complexities and the contributions of American culture, and who seek insights that are both retrospective and forward-looking in our coverage and commentary on the arts, business, politics, science, sports, and more. Our audience is the mature, thoughtful individual who cherishes the lessons of history and the historical paths we've traveled, yearns for the new - yet eternal - stories that are being created in the present, and pursues the spirit of our forebears long into the future by remaining always connected to the enduring threads of our shared values and common dreams.</p>

    <p>Almanack is a small, subscriber-supported, independent publication launched in December 2024 by [Challenge Media](https://challenge.media). If you subscribe today, you'll get full access to the website as well as email newsletters about new content when it's available. Your subscription makes this site possible, and allows Almanack to continue to exist.</p>

    <p>Edited by Craig Walker, Almanack is a publication of [Challenge Media](https://challenge.media).</p>

    <p>You can find Alamanack at the following social media accounts:</p>
    <br/>
    <p>Twitter: <a href="https://twitter.com/wlkrcrg">@almanackblog</a><br>
    <p>Facebook: <a href="https://www.facebook.com/wlkrcrg">facebook.com/almanackblog</a><br>
    <p>Bluesky: <a href="https://bsky.app/profile/@almanack.blog">@almanack.blog</a><br>
    <p>Instagram: <a href="https://www.instagram.com/wlkrcrg/">@almanackblog</a><br>
    <p>YouTube: <a href="https://www.youtube.com/@walkercraig">youtube.com/c/almanackblog</a><br>
    <br/>
    <p><h3>Thank you for visiting.</h3></p>
    <br/>
  </div><!-- .inner-->
{% if site.mailchimp_url %}
    {% include newsletter-box.html %}
{% endif %}
</main>
