---
layout: default
title: Advertise
---

<main id="main" class="site-main">
  <div class="post-full inner">
    <header class="post-header">
      <h3 class="post-title">Advertise</h3>
    </header>
    <br>
  <article>
    <p>
      In the digital era, advertising has become overcomplicated and unnecessarily
      complex. We believe in keeping things simple. Our current pricing follows
      below.<sup id="ref1"><a href="#note1">1</a></sup>
    </p>

    <p><strong>Sponsored Posts</strong>: $250<br />
       <strong>Social Media Promotion</strong>: $250<br />
       <strong>Affiliate Promotions</strong>: $1000<br />
       <strong>Customized All-of-the-Above</strong>: $2500
    </p>

    <p>
      Whether you represent a large, multinational corporation competing in the
      global marketplace or you’re a small, family-owned, Mom and Pop shop, no
      business is too big or too small and we encourage you to get in touch and
      let us see how we can help achieve your goals.
    </p>

    <p>
      For more information, please email:
      <a href="mailto:advertise@almanack.blog">advertise@almanack.blog</a>.
    </p>

    <hr />

    <h2>Additional Information</h2>

    <p><strong>Notification of Changes</strong><br />
      Almanack and Challenge Media announce all changes in rates at least
      30&nbsp;days before such changes and attempts to notify all active
      advertisers and agencies.</p>

    <p><strong>Rejection and Editing of Advertisements</strong><br />
      Almanack and Challenge Media may, at its sole discretion, edit, classify,
      reject, or cancel at any time any advertising submitted by an advertiser.</p>

    <p><strong>Positioning of Advertisements</strong><br />
      Almanack and Challenge Media shall have full positioning latitude on all
      advertisements except those with specified or guaranteed positions.</p>

    <p><strong>Liability for Errors</strong><br />
      Almanack and Challenge Media assumes no liability for any advertisement
      whether or not it is supplied by the advertiser. Almanack and Challenge
      Media are not responsible for errors in key codes or box numbers. Almanack
      and Challenge Media shall not be liable to advertiser for any loss that
      results from the incorrect publication, positioning, or omission of its
      advertisements.</p>

    <p><strong>Payment</strong><br />
      All rates provided by Almanack and Challenge Media are based on payment by
      check or electronic funds transfer as discussed with advertiser. Payment is
      due upon receipt of invoice. In the event that the advertiser fails to make
      timely payment, Almanack and Challenge Media may immediately cancel all
      orders for advertising and advertiser shall indemnify Almanack and Challenge
      Media for all expenses incurred in connection with the collection of
      amounts payable, including court cost and attorneys’ fees.</p>

    <p><strong>Ownership of Advertising Copy</strong><br />
      All advertising copy that represents the creative effort of Almanack and
      Challenge Media and/or the utilization of creativity, illustrations, labor,
      composition or material furnished by it is and remains the property of
      Almanack and Challenge Media, including all rights of copyright therein.
      Advertisers cannot authorize photographic or other reproductions, in whole
      or in part, of any such advertising copy for use in any other medium
      without the express written consent of Almanack and Challenge Media.</p>

    <p><strong>Advertiser and Agency Liability</strong><br />
      Almanack and Challenge Media reserves the right to hold advertiser and its
      advertising agency jointly and severally liable for such monies as are due
      and payable to Almanack and Challenge Media. Advertiser and its advertising
      agency shall indemnify Almanack and Challenge Media from all damages, costs
      and expenses, of any nature whatsoever, including attorneys’ fees, for
      which Almanack and Challenge Media may become liable by reason of its
      publication of advertiser’s advertising or provision of production services
      to advertiser.</p>

    <p><strong>Taxes on Advertising</strong><br />
      In the event that any international, federal, state, or local taxes are
      imposed on the printing of advertising materials or on the sale of
      advertising space, such taxes shall be assumed and paid by the advertiser.</p>

    <p><strong>Cancellations</strong><br />
      The closing time for cancellations of advertising is two business days
      prior to scheduled date of publication. Cancellations will not be accepted
      after closing. Advertiser shall be responsible for any production or
      creative services rendered by Almanack and Challenge Media, regardless of
      cancellation of ad.</p>

    <p><strong>Miscellaneous</strong><br />
      Forwarding of an order is construed as an acceptance of all rates and
      conditions under which advertising space is sold at the time by Almanack
      and Challenge Media and such order, when accepted by Almanack and Challenge
      Media, shall constitute a contract. Failure to make any order correspond in
      price, or otherwise, with specified and documented rate stated is regarded
      as a clerical error and publication is made and charged for upon the rates
      and terms of invoice, without further notification. Special clauses in
      insertion orders or contracts will not be accepted if relating to legal
      liability, circulation guarantees or positioning requests other than
      franchise advertisers or position guaranteed positions. All contracts are
      conditional on strikes, fires, acts of God or the public enemy, war, or any
      cause not subject to the control of Almanack and Challenge Media, excluding
      advertiser’s failure and/or inability to perform. It is the policy of
      Almanack and Challenge Media that credits resulting from rate adjustments
      can be applied to outstanding balances or future advertising (no cash
      refunds). If the client refuses credits by not applying credits to
      outstanding balances or future advertising within one year from date
      issued, then this shall constitute the client’s refusal of the credit.</p>

    <hr />

    <h3>Notes&nbsp;&amp;&nbsp;References</h3>
    <p id="note1">
      <sup>1</sup> We don't feel we should have to say this but our pricing is
      obviously subject to change at our discretion depending on the size and
      scope of the project.
      <a href="#ref1" aria-label="Back to reference">↩︎</a>
    </p>
  </article>
    <hr>    
    <br/>
    </div><!-- .inner-->
{% if site.mailchimp_url %}
    {% include newsletter-box.html %}
{% endif %}
</main>
