---
layout: default
title: Almanack
---

<main id="main" class="site-main">

{% if page.url == "/" %}
    <!-- Hero Section -->
    <div class="hero inner">
        <h3>{{ site.author.greetings }}</h3>
        <p>Almanack is an independent, subscriber-supported blog launched in 2024 as America approaches its 250th year. Inspired by the tradition of American letters, it weaves past and present to enrich today’s conversation on American arts, business, politics, science, and sport.</p>
        <p>The mission is to refresh the stories of liberty, celebrate American life, and explore what our heritage means for the road ahead. To learn more about the idea and philosophy behind this project, read <a rel="me" href="https://almanack.blog/about-this-site.html">About This Site</a>.</p>
        <p>Subscribe for full access to the site, special offers, invites, and our email briefings. Your support keeps Almanack alive and independent.</p>
        <p>Written and edited by <a rel="me" href="https://walkercraig.com">Craig Walker</a>, Almanack is a publication of <a rel="me" href="https://challenge.media">Challenge Media</a>.</p>

    </div>        

    <!-- Newsletter Subscription Box -->
    {% if site.mailchimp_url %}
        {% include newsletter-box.html %}
    {% endif %}
{% endif %}

</main>
